@import '../../scss/variables';

.citations-container{
    padding:0px 80px;
    margin: 10px 0px;
    margin-top: 110px;

    .citation-nav-wrapper{
        ul{
            background: #F2F2F2;
            padding: 0px;
            margin: 0px;
            li{
                display: inline-block;
                padding: 10px 0px;
                list-style: none;
                color: red;
                font-size: 16px;

                a{
                    color:color(black);
                    font-family: 'WiproAkkurat-Regular';
                    font-size: 14px;
                    padding: 0px 25px;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                    .active-link{
                        border-bottom: 2.5px solid color(light-violet);
                        padding-bottom: 9px;
                        font-family: 'WiproAkkurat-Bold';
                    }
            }
        }
    }
}


@media (max-width: 767px) { 
   
    .citations-container{
        padding:0px 10px;
    }

}