@import '../../../scss/variables';

.success-wrapper{
    font-family: 'WiproAkkurat-Regular';
    .title{
        font-size: 20px;
        color: color(light-violet);
        margin-bottom: 4px;
    }
    .icon-close{
        float: right;
        font-size: 18px;
        cursor: pointer;
    }
    .description{
        font-size: 16px;
        opacity: .8;
    }
    button{
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        float: right;
        color: #FFFFFF;
        background: #6F2C91;
        border: 0px;
        padding: 6px 40px 3.5px 40px;
        border-radius: 4px;
        font-family: 'WiproAkkurat-Bold';
    }
}