
<div class="fluid-container profile-citation-wrapper">

<div class="sub-navigation" (click) = "home()">
    <span class="icon-back_arrow"></span>
    <p class="">Samuel Reynolds citation</p>
</div>

<div class="citation" >
    <div class="profile-details">
          <div class="row t-row">
          <div class="col-sm-1 img-wrapper">
                  <img src="../../assets/images/profile-black.jpg" alt="">
          </div>
          <div class="col-sm-10 description">
              <p class="name">Darwin Williams</p>
              <p class="email">darwin.williams@wipro.com</p>
              <p class="position">Tech Lead</p>
          </div>
          <div class="col-sm-1 completed">
              <div class="circle">
                  <span class="icon-check_mark"></span>
              </div> 
          </div>
          </div>
            
          <div class="row about-section">
              <p>There are those that just work, and let their good work speak for them, 
                Samuel is one fo them. The last few months I have …worked closely with Samuel I have found 
                him to be reliable, sincere, committed and full of positive energy!
                Samuel is great team player and is always keen to learn and do more.
                Managing multiple MG accounts, running progressions for entire FS BU, 
                managing business continuity fo banking or leading the domain charter for Banking.
                Samuel manages to multitask with panache! 
              </p>   
              <p>Samuel it has been pleasure knowing and working with you, 
                wishing you many more wonderful years in Wipro!
              </p>
          </div>

          <div class="image-container">
            <div class="img-col">
                <img src="../../assets//images/profile-citation1.PNG" alt="">
            </div>
            <div class="img-col">
                <img src="../../assets//images/profile-citation2.PNG" alt="">
            </div>
            <div class="img-col">
              <img src="../../assets//images/profile-citation3.PNG" alt="">
            </div>
          </div>
    </div>
</div>


