<section class = "animation-container">
  <div class="set">
    <div><img src="../../assets/images/confetti/one.png" alt=""></div>
    <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
    <div><img src="../../assets/images/confetti/three.png" alt=""></div>
    <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/five.png" alt=""></div>
    <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
    <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
    <div><img src="../../assets/images/confetti/one.png" alt=""></div>
    <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
    <div><img src="../../assets/images/confetti/three.png" alt=""></div>
    <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/five.png" alt=""></div>
    <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
    <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
    <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
  </div>

  <div class="set set-x">
      <div><img src="../../assets/images/confetti/one.png" alt=""></div>
      <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/three.png" alt=""></div>
      <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/five.png" alt=""></div>
      <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
      <div><img src="../../assets/images/confetti/one.png" alt=""></div>
      <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/three.png" alt=""></div>
      <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/five.png" alt=""></div>
      <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
        </div>
         <div class="set set-x-scale">
            <div><img src="../../assets/images/confetti/one.png" alt=""></div>
            <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/three.png" alt=""></div>
            <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/five.png" alt=""></div>
            <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
            <div><img src="../../assets/images/confetti/one.png" alt=""></div>
            <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/three.png" alt=""></div>
            <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/five.png" alt=""></div>
            <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
            </div>  

  <div class="set1">
      <div><img src="../../assets/images/confetti/one.png" alt=""></div>
      <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/three.png" alt=""></div>
      <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/five.png" alt=""></div>
      <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
      <div><img src="../../assets/images/confetti/one.png" alt=""></div>
      <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/three.png" alt=""></div>
      <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/five.png" alt=""></div>
      <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
      <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
      <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
        </div>
         <div class="set set1-x">
            <div><img src="../../assets/images/confetti/one.png" alt=""></div>
            <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/three.png" alt=""></div>
            <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/five.png" alt=""></div>
            <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
            <div><img src="../../assets/images/confetti/one.png" alt=""></div>
            <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/three.png" alt=""></div>
            <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/five.png" alt=""></div>
            <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
            <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
            <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
            </div>
           <div class="set set1-x-scale">
              <div><img src="../../assets/images/confetti/one.png" alt=""></div>
              <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
              <div><img src="../../assets/images/confetti/three.png" alt=""></div>
              <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/five.png" alt=""></div>
              <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
              <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
              <div><img src="../../assets/images/confetti/one.png" alt=""></div>
              <div><img src="../../assets/images/confetti/two.svg" alt=""></div>
              <div><img src="../../assets/images/confetti/three.png" alt=""></div>
              <div><img src="../../assets/images/confetti/four.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/five.png" alt=""></div>
              <div><img src="../../assets/images/confetti/six.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/seven.svg" alt=""></div>
              <div><img src="../../assets/images/confetti/eight.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/nine.jpg" alt=""></div>
              <div><img src="../../assets/images/confetti/ten.png" alt=""></div>
                </div>
</section>
