
<app-confetti-animate></app-confetti-animate>

<div class="main-img-container" [@routerTransition]>
 
    <img src="../assets/images/LSA2.jpg" alt="">
    <div class="my-tenure-container">
           
        <div class="row stepper">
            <div class="col-sm-1-half col-2 pr-0" >
            <span class="years-first">5 years</span>  
              <div class="circle">
               <span class="icon-check_mark"></span>
              </div>
             
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-2" >
                <span class="stright-lines"></span> 
                <span class="icon-status_pending"></span> 
                <div class="circle blurred"> </div>
                <span class="years">10 years</span> 
               
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-2">
                    <span class="stright-lines"></span>   
                    <span class="icon-status_pending"></span>
                    <div class="circle blurred"></div>
                    <span class="years">15 years</span>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-2">
                <span class="stright-lines"></span>  
                <span class="icon-status_pending"></span>
                <div class="circle blurred"> </div>
                <span class="years">20 years</span>
               
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-2">
                <span class="stright-lines"></span>  
                <span class="icon-status_pending"></span>
                <div class="circle blurred"> </div>
                <span class="years">25 years</span>  
               
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-2">
                <span class="stright-lines"></span>  
                <span class="icon-status_pending "></span>
                <div class="circle blurred"></div>
                <span class="years">30 years</span>  
                
            </div>
          </div>
    
        <div class="row tenure-wrapper">
          <div class="logo-wrapper">
              <img class = "flip-card-front" src="../../assets/images/tenure/Component@2x.png" alt="">
              <img class = "flip-card-back " src="../../assets/images/5-yrs-logo.svg" alt="">
            
          </div>
            
            <div class="col-sm-1 vertical-line">
              <div class="radio-round radio-round1"> 
                <div class="inner-circle"></div>
              </div>

              <div class="radio-round radio-round2"> 
                  <div class="inner-circle"></div>
              </div>
              <div class="radio-round radio-round3"> 
                    <div class="inner-circle"></div>
              </div>
              <div class="radio-round radio-round4"> 
                  <div class="inner-circle"></div>
              </div>
              <div class="radio-round radio-round5"> 
                  <div class="inner-circle"></div>
              </div>
            </div>
            
            <div class="col-sm-11">
            <div class="row">
            
              <div class="col-sm-12 name-wrapper mt-5">
                    <button class="top btn-pdf-downlaod">Download pdf</button>
              <p class="name">Congratulations Jibin Matthew</p>
              <p class="name">for completing 5 glorious years with Wipro.</p>
              <p class="about">
                  We know you have worked hard for this accomplishment and we truly appreciate your dedication.
              </p>
              </div>

              <div class="journey-container">
              <p class="title">Journey so far</p>
              <div class="col-sm-12 img-container">
                <div class="content-arrow">
                <img src="../../assets/images/tenure-arrow.PNG" alt="">
                </div>
                <div class="img-wrapper">
                    <img src="../../assets/images/tenure/WL_INDIA_BANGALORE_RR_MTG_00009.png" alt="">
                </div>
               
                <p class="sub-title">My journey so far</p>
                <p class="description">
                    Wipro has been my first company and I have joined here as a project intern back in 2007. 
                    I was overwhelmed having got an opportunity to associate with Wipro 
                    immediately after completion of my academics. Wipro has always been a source of inspiration, 
                    we have wonderful culture, ethics and commitment which is really admiring.
                     Being my first company Wipro stands very special to me and has helped myself to 
                     get shaped.
                </p>
              </div>
              </div>

              <div class="journey-container">
                  <p class="title mt-4 mb-4">Thoughts and memories of peers and friends on this milestone</p>
                  <div class="col-sm-12 img-container">
                      <div class="content-arrow">
                      <img src="../../assets/images/tenure-arrow.PNG" alt="">
                      </div>
                    <div class="img-wrapper">
                        <img src="../../assets/images/tenure//WL_INDIA_BANGALORE_RR_MTG_00026.png" alt="">
                    </div>
                    <div class="flex-container">
                      <div class="flex-item">
                        <img src="../../assets/images/tenure/5bb4276e01d72b7e281539ab_Article 22.png" alt="">
                      </div>
                      <div class="flex-item">
                          <img src="../../assets/images/tenure//WL_INDIA_BANGALORE_PB_LIC_00008.png" alt="">
                      </div>
                      <div class="flex-item">
                          <img src="../../assets/images/tenure/2563-Insurance-expert-at-work-575x312.png" alt="">
                      </div>
                    </div>
                    <p class="sub-title">Anthony Xavier -</p>
                    <span> Senior Manager, AMG</span>
                    <p class="description">
                        There are those that just work, and let their good work speak for them,
                         Puja is one fo them. The last few months I have worked closely with Puja I have fould her to be reliable, 
                        sincere, 
                        committed and full of positive energy! Puja is great team player and is always keen to learn and do more.
                    </p>
                  </div>
              </div>

              <div class="journey-container mt-5">
                  <div class="col-sm-12 img-container">
                    <div class="content-arrow">
                    <img src="../../assets/images/tenure-arrow.PNG" alt="">
                     </div>
                    <div class="img-wrapper">
                        <img src="../../assets/images/tenure//LSA.png" alt="">
                    </div>
                   
                    <p class="sub-title">Anthony Xavier -</p>
                    <span> Senior Manager, AMG</span>
                    <p class="description">
                        Wipro has been my first company and I have joined here as a project intern back in 2007. 
                        I was overwhelmed having got an opportunity to associate with Wipro 
                        immediately after completion of my academics. Wipro has always been a source of inspiration, 
                        we have wonderful culture, ethics and commitment which is really admiring.
                         Being my first company Wipro stands very special to me and has helped myself to 
                         get shaped.
                    </p>
                  </div>
              </div>

              <div class="journey-container mt-4">
                  <div class="col-sm-12 img-container">
                    <div class="content-arrow">
                    <img src="../../assets/images/tenure-arrow.PNG" alt="">
                    </div>
                    <div class="img-wrapper">
                        <img src="../../assets/images/tenure/WL_INDIA_BANGALORE_PB_LIC_00008.png" alt="">
                    </div>
                    
                    <p class="sub-title">Anthony Xavier -</p>
                    <span> Senior Manager, AMG</span>
                    <p class="description">
                        Wipro has been my first company and I have joined here as a project intern back in 2007. 
                        I was overwhelmed having got an opportunity to associate with Wipro 
                        immediately after completion of my academics. Wipro has always been a source of inspiration, 
                        we have wonderful culture, ethics and commitment which is really admiring.
                          Being my first company Wipro stands very special to me and has helped myself to 
                          get shaped.
                    </p>
                  </div>
              </div>

              <div class="journey-container mt-4 mb-5">
                  <div class="col-sm-12 img-container">
                        <div class="content-arrow">
                                <img src="../../assets/images/tenure-arrow.PNG" alt="">
                                </div>
                    <div class="img-wrapper">
                        <img src="../../assets/images/tenure5.PNG" alt="">
                    </div>
                    <div class="flex-container">
                      <div class="flex-item">
                            <img src="../../assets/images/tenure//WL_INDIA_BANGALORE_RR_MTG_00026.png" alt="">
                      </div>
                      <div class="flex-item">
                            <img src="../../assets/images/tenure//WL_INDIA_BANGALORE_PB_LIC_00008.png" alt="">
                      </div>
                      <div class="flex-item">
                            <img src="../../assets/images/tenure/2563-Insurance-expert-at-work-575x312.png" alt="">
                      </div>
                    </div>
                    <p class="sub-title">Raja Perumal-</p>
                    <span>Senior Business Analyst, AMG</span>
                    <p class="description">
                        There are those that just work, and let their good work speak for them,
                          Puja is one fo them. The last few months I have worked closely with Puja I have fould her to be reliable, 
                        sincere, 
                        committed and full of positive energy! Puja is great team player and is always keen to learn and do more.
                    </p>
                  </div>
              </div>

          </div>
          </div>
          <button class="bottom btn-pdf-downlaod">Download pdf</button> 
        </div>
    </div>   

</div>