<div class="img-container">
    <img src="../assets/images/LSA2.jpg" alt="">

    <div class="landing-wrapper">
        <div class="welcome-wrapper">
            <img src="../../assets/images/5-yrs-logo.svg" alt="">
            <p class="name">Congratulations!</p>
            <p class="about">
                You are about to complete 5 years with Wipro in 10 Days. Please spend few minutes to pen down 
                your citations and nominate your colleagues to share their experiences working with you.
            </p>
            <button class="update-btn" (click) = "home()">ok</button>
        </div>
    </div>

</div>