
  
    <!-- <div class="fluid-container main-container">
      <mat-tab-group  mat-align-tabs="end" (selectedTabChange)="yourFn($event)">
      
        <mat-tab label="my-nominations"> 
          <div class="img-container">
            <img src="../assets/images/LSA2.jpg" alt="">
  
            <div class="my-nomination-wrapper">
                <div class="row stepper">
                  <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="circle">
                     <span class="icon-check_mark"></span>
                    </div>
                   
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <span class="stright-lines">--------------------</span>  
  
                      <div class="circle blurred">
      
                          <span class="icon-status_pending"></span>
                      </div>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <span class="stright-lines">--------------------</span>  
  
                      <div class="circle blurred">
      
                          <span class="icon-status_pending"></span>
                      </div>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <span class="stright-lines">--------------------</span>  
  
                      <div class="circle blurred">
      
                          <span class="icon-status_pending"></span>
                      </div>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <span class="stright-lines">--------------------</span>  
  
                      <div class="circle blurred">
      
                          <span class="icon-status_pending"></span>
                      </div>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <span class="stright-lines">--------------------</span>
                      <div class="circle blurred">
                          <span class="icon-status_pending"></span>
                      </div>
                  </div>
                </div>
      
                <div class="welcome-wrapper">
                  <p class="left-dy">09 Days 13 Hrs</p>
                  <img src="../../assets/images/logo.png" alt="">
                  <div class="row">
                    <p class="name">Hi Jibin Matthew,</p>
                    <div [ngClass]="user ? 'hide':'show'">
                    <p class="about">
                        Welcome to Wipro Long Service Awards. As we are in a process of creating citation page for you,
                        we would request you to spend few minutes to share your experience during this tenure
                        with Wipro and nominate colleagues to share their thoughts for you on this milestone. 
                        You are requested to complete this by Date.
                    </p>
                    <p class="about"> We extend our best wishes to you on Years anniversary with Wipro.</p>
                    <p class="update">The countdown has begun! Click ‘Update Now’ to share your journey and nominate colleagues.</p>
                     </div>

                    <div class="about" [ngClass]="user ? 'show':'hide'">
                      <p >Welcome to India-Club 5!</p>
                      <p >
                          Congratulations on completing 5 years with WIPRO. In recognition of this milestone,
                           we are pleased to offer you a small token of our gratitude.
                      </p>
                      <P>
                          <a class="click">Click here</a> to view various options available for you to redeem. 
                          Please log in to your LSA account using the ADID login credentials to redeem your award.
                      </P>
                      <p><strong>Your Award Code is: 6364281654985653.</strong></p>
                      <p> This is a time bound award with 1 year validity from the date of service anniversary.
                         Check the curated catalog for redemption to make this milestone memorable.
                      </p>
                      <p>In case of any query you may write to <strong>wipro.lsa@wipro.com</strong> copying <strong>lsa.wividus@wipro.com</strong></p>
                      
                    </div>
                  </div>
                  <div class="row btn-wrapper">
                      <button class="update-btn" [ngClass]="user ? 'hide':'show'" (click) = "myNominations()">UPDATE NOW</button>
                      <button class="update-btn" [ngClass]="user ? 'show':'hide'" (click) = "viewCitations()">VIEW CITATIONS</button>
                  </div>
                </div>
            </div>
  
          </div>
        </mat-tab>
  
  
        <mat-tab label="My citations">
          <app-citations></app-citations>
        </mat-tab>
  
  
        <mat-tab label="My tenure @ Wipro"> 
          <app-my-tenure></app-my-tenure>
        </mat-tab>

      </mat-tab-group>
    </div> -->
